/* all btn type here */
/* 
  btn font size: 
  font-size: 16px;
  font-size: 20px;
*/
.orange-btn {
  background-color: var(--major);
  color: var(--white);
  border: none;

  &.radius-4 {
    border-radius: 4px;
  }

  &.radius-50 {
    border-radius: 50px;
  }
}

.orange-border-btn {
  border: 1px solid var(--major);
  color: var(--major);

  &.radius-4 {
    border-radius: 4px;
  }

  &.radius-50 {
    border-radius: 50px;
  }
}

.link-btn {
  text-decoration: underline;
  border: none;
  color: var(--blue-primary);
}