.page-tab {
  // border: 1px solid grey;
  border-bottom: var(--border-grey);
  width: 100%;
  height: 53px;

  display: flex;
  // align-items: center;

  .tab-input {
    display: none;
  }

  .tab-input:checked+.tab-label {
    color: var(--major);
    border-bottom: 2px solid var(--major);
  }

  .tab-label {
    // border: 1px solid grey;
    display: inline-block;
    width: 130px;
    height: 100%;
    line-height: 53px;
    text-align: center;
    @include font-adjust(15px, 700, var(--tab-default-font));
  }
}

.back-bar {
  width: 100%;

  // line-height: 75px;
  .back-link {
    display: flex;
    align-items: center;
    height: 75px;

    .back-icon {
      margin: 0 28px 0 19px;
      @include svg-adjust(auto, 14px, var(--greyscale-dark-100));
    }

    .title-group {
      .name {
        @include font-adjust(18px, 700, var(--greyscale-dark-100));
        line-height: 26px;
      }

      .tweet-num {
        @include font-adjust(13px, 500, var(--grey-secondary));
      }
    }
  }
}

.personal-area {
  position: relative;

  .personal-bg-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .personal-img {
    width: 140px;
    height: 140px;
    border: 4px solid var(--white);
    border-radius: 50%;

    position: absolute;
    top: 130px;
    left: 16px;
  }

  .btn-group[data-user="current"] {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 16px;

    .follow {
      padding: 8px 16px;
    }
  }

  .btn-group[data-user="other"] {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 16px;

    .message {
      width: 40px;
      height: 40px;
      @include svg-adjust(auto, 18px, var(--major));
    }

    .notice-icon {
      width: 40px;
      height: 40px;
      border: 1px solid var(--major);
      border-radius: 50px;
      background-color: transparent;
      margin: 16px;

      i {
        @include svg-adjust(auto, 22px, var(--major));
      }
    }

    .notice-icon-solid {
      width: 40px;
      height: 40px;
      border: none;
      background-color: var(--major);
      border-radius: 50px;
      margin: 16px;

      i {
        @include svg-adjust(auto, 22px, var(--white));
      }
    }

    .follow {
      padding: 8px 16px;
      font-size: 16px;
    }
  }

  .personal-info {
    margin-top: 8px;
    padding: 0 16px;

    .personal-info-name-group {
      .name {
        @include font-adjust(18px, 700, var(--greyscale-dark-100));
        line-height: 16px;
      }

      .account {
        @include font-adjust(14px, 400, var(--grey-secondary));
      }
    }

    .personal-intro {
      padding: 6px 0 8px;
      @include font-adjust(14px, 400, var(--greyscale-dark-100));
    }

    .personal-follow-group {

      .follower,
      .following {
        @include font-adjust(14px, 400, var(--grey-secondary));

        span {
          @include font-adjust(14px, 400, var(--greyscale-dark-100));
        }
      }

      .follower {
        margin-right: 20px;
      }
    }
  }

}


